:root {
	--red: 0;
	--green: 0;
	--blue: 0;
}

body {
	display: grid;
	min-height: 100vh;
	align-content: center;
	justify-content: center;
	background: rgb(var(--red), var(--green), var(--blue));
}

img {
	width: 100vh;
}

label {
	width: 55vw;
	margin-bottom: 1rem;
	background: #fff;
	border: 1px solid #000;
	border-radius: .25rem;
	padding: .5rem;
	display: flex;
}

input {
	margin-left: auto;
	display: block;
	width: 40vw;
}
